html
  head
    title jadavpur
    block scripts
    
    block style
  body
    section#mainbody
        img(src="/static/images/login.jpg")
    section#header 
        div.first
        div.second
          ul.nav-links
            li.links #[a(href='/') Home]
            li.links #[a(href='/') Notice]
            li.links #[a(href='/signup') Sign Up]
            li.links #[a(href='/login') Log In]
        
    
    block content
    