doctype html
html
   head
      style
         include ../static/style.css
   body
      section#header
        div.first
          h1 JADAVPUR UNIVERSITY STUDENT SECTION
        div.second
          ul
            li #[a(href='/') Home]
            li #[a(href='/') Notice]
            li #[a(href='/signup') Sign Up]
            li #[a(href='/') Log In]
         


      

             
      
   