<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="HatchfulExport-All/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/fbaf16f7d4.js" crossorigin="anonymous"></script>
    <script src="js/script.js" async></script>
</head>
<body>
    <div class="bgc">
       <img src="img/login.jpg" alt="classroom"> 
    </div>

    <nav>
        <div class="logo-wrapper">
            <a href="#" class="logo"><img src="HatchfulExport-All/facebook_cover_photo_1.png" alt=""></a>
        </div>

        <ul class="nav-links">
            <li class="links"><a href="#">Home</a></li>
            <li class="links"><a href="#">About</a></li>
            <li class="links"><a href="#">Notice</a></li>
            <li class="links active"><a href="#">Login</a></li>
        </ul>

        <div class="bars">
            <i class="fas fa-bars fa-2x active"></i>
            <i class="fas fa-times fa-2x"></i>
        </div>
    </nav>

    <div class="login-wrapper">
        <div class="login">
            <h1 class="title">Login</h1>
            <form action="">
                <input type="text" name="email" id="email" placeholder="Email"> <br>
                <input type="password" name="password" id="password" placeholder="Password"> <br>
                <a class="forgot" href="#">Forgot password?</a>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>